<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div style="border:1px solid black;height: 300px;text-align: center;background-color: lightgreen;">
        <h1 style="color:darkred;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to pyspider</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi modi, 
            dolor doloribus repudiandae repellat deleniti? Inventore reprehenderit excepturi qui perferendis. Error.
        </p>
        <ul>
            <li style="color: lightsalmon;">Types of Cources</li>
            <li>Python Full Stack Developer</li>
            <li>Java Full Stack Developer</li>
            <li>Python testing </li>
            <li>Java testing</li>
        </ul>

    </div>
    
</body>
</html>